<header class="header container">
     <p><span>cnn</span>.com - <span>rss</span> Channel - App International Edition</p>
</header>
<Section class="container">
     <section class="row box-items">
          <div class="col-lg-8 col-md-12 col-sm-12 lindsey" id="first">
               <img src="./assets/image1.jpg" alt="image">
               <p>Lindsey Vann: I won't be represented Trump at Olympics</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 violent " id="second">
               <img src="./assets/image2.jpg" alt="image">
               <p>Violent protests breaks out in...</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 wind" id="third">
               <img src="./assets/image3.jpg" alt="image">
               <p>high winds a recipe for explor...</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 whistle" id="fourth">
               <img src="./assets/image4.jpg" alt="image">
               <p>Whistleblower: Flynn told colle...</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 haley" id="fifth">
               <img src="./assets/image5.jpg" alt="image">
               <p>Haley:'Open question' if us a...</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 champion" id="sixth">
               <img src="./assets/image6.jpg" alt="image">
               <p>Champion League: The 16 t...</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-8 col-md-12 col-sm-12 highlights" id="seventh">
               <img src="./assets/image7.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="eighth">
               <img src="./assets/image8.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="ninth">
               <img src="./assets/image9.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="tenth">
               <img src="./assets/image10.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="eleventh">
               <img src="./assets/image11.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="twelveth">
               <img src="./assets/image12.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="thirteenth">
               <img src="./assets/image13.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 item display" id="fourteenth">
               <img src="./assets/image14.jpg" alt="image">
               <p>15 highlights from Buckinggham palace tour</p>
               <span>07/12/2017</span>
          </div>

     </section>
</Section>

<div id="view"> <button class="btn" (click)="getData()">View More</button> </div>